@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<body>
    <FONT COLOR="red">
        <style>
            div.a {
                text-align: center;
            }
        </style>
        <div class="a">
            <h1><br><br>Bienvenidos a Cine+ </h1>
            <p>En este sitio podrás reservar y comprar entradas para ver tus películas favoritas en la pantalla grande.</p>

        </div>

        <div class="a">
            <h2>Esperamos que la pases súper!</h2>
            <p>Estamos para complacerte ;)</p>
            <br><br><br><br><br><br><br><br><br><br><br>
        </div>
    </FONT>
</body>
</html>
