 <!--Rol Cliente-->
<!--
<div class="navbar navbar-brand navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @*Html.ActionLink("Cine+", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })\|*@
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@*Html.ActionLink("Cartelera", "Index", "CinemaListings")*@</li>
                <li>@*Html.ActionLink("Películas Sugeridas", "Movie", "Home")*@</li>
            </ul>
        </div>
    </div>
</div>


<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>JS Bin</title>
    <style>
        img {
            width: 100%;
        }

        body {
            background: url('https://i1.wp.com/codigopublico.com/wp-content/uploads/2020/07/palomitas.jpg?fit=1024%2C576&ssl=1');
            background-size: cover;
            background-repeat: no-repeat;
            margin: 0;
            box-shadow: 0px 15px 90px black inset;
            height: 100vh;
        }
    </style>
</head>
</html>
-->


<!--Rol Gerente-->
<div class="navbar navbar-brand navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Cine+", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Cartelera", "Index", "CinemaListings")</li>
                <li>@Html.ActionLink("Películas", "Movie_Home", "Home")</li>
                <li>@Html.ActionLink("Estadisticas", "Statistics", "Home")</li>
            </ul>
        </div>
    </div>
</div>


<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>JS Bin</title>
    <style>
        img {
            width: 100%;
        }

    body { background: url('https://i1.wp.com/codigopublico.com/wp-content/uploads/2020/07/palomitas.jpg?fit=1024%2C576&ssl=1'); background-size: cover; background-repeat: no-repeat; margin: 0; box-shadow: 0px 15px 90px black inset; height: 100vh; }
    </style>
</head>
</html>













